<configuration>
   <system.runtime.remoting>
      <application>
         <client url="http://localhost:8080/SimpleServer" 
                 displayName="Hello client for client-activated objects">
            <activated type="SharedObject.SharedObject, SharedObject" />
         </client>
         <channels>
            <channel ref="http" displayName="HTTP Channel (SimpleServer)" />
            <channel ref="tcp" displayName="TCP Channel (SimpleServer)" />
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>