p{background-image:url("Peace.jpg");text-indent:10%;color:yellow;}
h1{text-align:center;}
h2{text-indent:35px;}
table{border-style:solid;border-width:thick;border-top-color:blue;border-bottom-color:blue;}

