body{color:navy;}
p.one{font-size:13;font-family:"Times New Roman";font-style:Italic;}
a:link{color:maroon;}
a:visited{color:red;}
a:hover{color:green;}
a:active{color:blue;}
p.two{border-style:solid;border-width:thick;border-top-color:blue;border-bottom-color:magenta;}
