h1{border-style:outset;border-width:thin;text-align:center;}
p.one{text-transform:uppercase;font-style:Normal;}
p.two{font-style:italic;text-decoration:underline;}
p.three{border-style:solid;font-variant:Normal;}
