.Curved {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.Curved .b1 {
	DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
.Curved .b2 {
	DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
.Curved .b3 {
	DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
.Curved .b4 {
	DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
.Curved .b5 {
	DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
.Curved .b6 {
	DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
.Curved .b7 {
	DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
.Curved .b8 {
	DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
.Curved .b2 {
	BORDER-RIGHT: lightblue 1px solid; BORDER-TOP: lightblue 0px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(endColorstr='LightBlue', startColorstr='LightBlue', gradientType='1'); BORDER-LEFT: lightblue 1px solid; BORDER-BOTTOM: lightblue 0px solid
}
.Curved .b3 {
	BORDER-RIGHT: lightblue 1px solid; BORDER-TOP: lightblue 0px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(endColorstr='LightBlue', startColorstr='LightBlue', gradientType='1'); BORDER-LEFT: lightblue 1px solid; BORDER-BOTTOM: lightblue 0px solid
}
.Curved .b4 {
	BORDER-RIGHT: lightblue 1px solid; BORDER-TOP: lightblue 0px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(endColorstr='LightBlue', startColorstr='LightBlue', gradientType='1'); BORDER-LEFT: lightblue 1px solid; BORDER-BOTTOM: lightblue 0px solid
}
.Curved .b5 {
	BORDER-RIGHT: lightblue 1px solid; BORDER-TOP: lightblue 0px solid; BORDER-LEFT: lightblue 1px solid; BORDER-BOTTOM: lightblue 0px solid
}
.Curved .b6 {
	BORDER-RIGHT: lightblue 1px solid; BORDER-TOP: lightblue 0px solid; BORDER-LEFT: lightblue 1px solid; BORDER-BOTTOM: lightblue 0px solid
}
.Curved .b7 {
	BORDER-RIGHT: lightblue 1px solid; BORDER-TOP: lightblue 0px solid; BORDER-LEFT: lightblue 1px solid; BORDER-BOTTOM: lightblue 0px solid
}
.Curved .b2 {
	BACKGROUND: #cf0142
}
.Curved .b3 {
	BACKGROUND: #cf0142
}
.Curved .b4 {
	BACKGROUND: #cf0142
}
.Curved .b5 {
	BACKGROUND: #ffffff
}
.Curved .b6 {
	BACKGROUND: #ffffff
}
.Curved .b7 {
	BACKGROUND: #ffffff
}
.Curved .b1 {
	BACKGROUND: lightblue; MARGIN: 0px 5px
}
.Curved .b8 {
	BACKGROUND: lightblue; MARGIN: 0px 5px
}
.Curved .b2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 3px; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 2px
}
.Curved .b7 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 3px; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 2px
}
.Curved .b3 {
	MARGIN: 0px 2px
}
.Curved .b6 {
	MARGIN: 0px 2px
}
.Curved .b4 {
	MARGIN: 0px 1px; HEIGHT: 2px
}
.Curved .b5 {
	MARGIN: 0px 1px; HEIGHT: 2px
}
.Curved .HeaderBox {
	BORDER-RIGHT: lightblue 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: lightblue 0px solid; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: lightblue; FILTER: progid:DXImageTransform.Microsoft.Gradient(endColorstr='LightBlue', startColorstr='LightBlue', gradientType='1'); PADDING-BOTTOM: 2px; BORDER-LEFT: lightblue 1px solid; COLOR: #5a5a5a; PADDING-TOP: 0px; BORDER-BOTTOM: lightblue 1px solid; FONT-FAMILY: verdana; HEIGHT: 14px
}
.HeaderBox A {
	RIGHT: 10px; POSITION: absolute
}
.HeaderBox IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.Curved .ContentBox {
	BORDER-RIGHT: lightblue 1px solid; BORDER-TOP: lightblue 0px solid; DISPLAY: block; BACKGROUND: #ffffff; BORDER-LEFT: lightblue 1px solid; BORDER-BOTTOM: lightblue 0px solid
}
.Curved .InnerContent {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
TABLE .AppFormTable {
	BORDER-RIGHT: lightblue 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: lightblue 0px solid; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: lightblue 0px solid; WIDTH: 100%; COLOR: #13075d; PADDING-TOP: 0px; BORDER-BOTTOM: lightblue 1px solid; FONT-FAMILY: Tahoma; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.AppFormTable TD {
	BORDER-RIGHT: lightblue 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: lightblue 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: lightblue 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: lightblue 0px solid
}
.AppFormTable TH {
	BORDER-RIGHT: lightblue 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: lightblue 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: lightblue 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: lightblue 0px solid; BACKGROUND-COLOR: #ef96b2
}
.AppFormTable .head {
	BORDER-RIGHT: lightblue 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: lightblue 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: bold 13px solid Verdana; BORDER-LEFT: lightblue 1px solid; COLOR: white; PADDING-TOP: 4px; BORDER-BOTTOM: lightblue 0px solid; BACKGROUND-COLOR: #cf0142; TEXT-ALIGN: center
}
.tblBackColor {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff
}
.rFont {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana; BACKGROUND-COLOR: white
}
.TextInput {
	BORDER-RIGHT: #5a5a5a 1pt solid; BORDER-TOP: #5a5a5a 1pt solid; FONT-SIZE: 11px; BORDER-LEFT: #5a5a5a 1pt solid; BORDER-BOTTOM: #5a5a5a 1pt solid; FONT-FAMILY: Verdana, helvetica, sans-serif; TEXT-DECORATION: none
}
.ButtonInput {
	BORDER-RIGHT: #e2958a 1pt solid; BORDER-TOP: #e2958a 1pt solid; FONT-SIZE: 11px; BORDER-LEFT: #e2958a 1pt solid; BORDER-BOTTOM: #e2958a 1pt solid; FONT-FAMILY: Verdana, helvetica, sans-serif
}
.LabelAlign {
	TEXT-ALIGN: right
}
.ValidationText {
	FONT-SIZE: 10px; VISIBILITY: visible; COLOR: red; FONT-FAMILY: Verdana
}
.LabelSummary {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
.TdSummary {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana; TEXT-ALIGN: right
}
.StaticContain {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana; TEXT-ALIGN: justify
}
.aMenu {
	FONT-SIZE: 5pt; COLOR: white; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.normalletter {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
TABLE .AppFormTableNew {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: gray 0px solid; WIDTH: 100%; COLOR: #13075d; PADDING-TOP: 0px; BORDER-BOTTOM: gray 0px solid; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.AppFormTableNew TD {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: gray 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: gray 0px solid
}
.AppFormTableNew TH {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: gray 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: gray 0px solid
}
.AppFormTableNew .head {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: bold 13px solid Verdana; BORDER-LEFT: gray 0px solid; COLOR: #13075d; PADDING-TOP: 4px; BORDER-BOTTOM: gray 0px solid; BACKGROUND-COLOR: #cfad80; TEXT-ALIGN: center
}
.LabelClass {
	FONT-SIZE: 11px; COLOR: #13075d; FONT-FAMILY: Verdana
}
TABLE .AppFormTablePrint {
	BORDER-RIGHT: lightblue 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: lightblue 0px solid; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: lightblue 0px solid; WIDTH: 100%; COLOR: #13075d; PADDING-TOP: 0px; BORDER-BOTTOM: lightblue 1px solid; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.AppFormTablePrint TD {
	BORDER-RIGHT: lightblue 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: lightblue 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: lightblue 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: lightblue 0px solid
}
.AppFormTablePrint TH {
	BORDER-RIGHT: lightblue 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: lightblue 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: lightblue 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: lightblue 0px solid
}
.AppFormTablePrint .head {
	BORDER-RIGHT: #cf0142 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cf0142 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; FONT: bold 13px solid Verdana; BORDER-LEFT: #cf0142 1px solid; COLOR: white; PADDING-TOP: 1px; BORDER-BOTTOM: #cf0142 0px solid; BACKGROUND-COLOR: #cfad80; TEXT-ALIGN: center
}
TABLE .AppFormTableNewPrint {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: gray 0px solid; WIDTH: 100%; COLOR: #2f3c51; PADDING-TOP: 0px; BORDER-BOTTOM: gray 0px solid; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.AppFormTableNewPrint TD {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: gray 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: gray 0px solid
}
.AppFormTableNewPrint TH {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: gray 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: gray 0px solid
}
.AppFormTableNewPrint .head {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: bold 13px solid Verdana; BORDER-LEFT: gray 0px solid; COLOR: white; PADDING-TOP: 4px; BORDER-BOTTOM: gray 0px solid; BACKGROUND-COLOR: #cfad80; TEXT-ALIGN: center
}
TABLE .AppFormTable1 {
	BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: gray 0px solid; WIDTH: 100%; COLOR: #2f3c51; PADDING-TOP: 0px; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.AppFormTable1 TD {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: gray 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: gray 0px solid
}
.AppFormTable1 TH {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: bold 12px solid Verdana; BORDER-LEFT: gray 1px solid; COLOR: #2f3c51; PADDING-TOP: 4px; BORDER-BOTTOM: gray 0px solid; BACKGROUND-COLOR: gainsboro
}
.AppFormTable1 .head {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: bold 13px solid Verdana; BORDER-LEFT: gray 1px solid; COLOR: white; PADDING-TOP: 4px; BORDER-BOTTOM: gray 0px solid; BACKGROUND-COLOR: #cfad80; TEXT-ALIGN: center
}
.tblBackColor {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff
}
.rFont {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana; BACKGROUND-COLOR: white
}
TABLE .AppFormTableNewBig {
	BORDER-RIGHT: powderblue 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: powderblue 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: powderblue 1px solid; WIDTH: 98%; COLOR: #13075d; PADDING-TOP: 0px; BORDER-BOTTOM: powderblue 1px solid; FONT-FAMILY: Tahoma; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.AppFormTableNewBig TD {
	BORDER-RIGHT: #e0b2bf 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #e0b2bf 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #e0b2bf 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #e0b2bf 0px solid
}
.AppFormTableNewBig TH {
	BORDER-RIGHT: #e0b2bf 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #e0b2bf 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #e0b2bf 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #e0b2bf 0px solid
}
.AppFormTableNewBig .head {
	BORDER-RIGHT: #e0b2bf 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #e0b2bf 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: bold 15px solid Tahoma; BORDER-LEFT: #e0b2bf 0px solid; COLOR: #13075d; PADDING-TOP: 4px; BORDER-BOTTOM: #e0b2bf 0px solid; BACKGROUND-COLOR: #cfad80; TEXT-ALIGN: center
}
TABLE .AppFormTable1Big {
	BORDER-RIGHT: lightblue 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: lightblue 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: lightblue 1px solid; WIDTH: 98%; COLOR: #13075d; PADDING-TOP: 0px; BORDER-BOTTOM: lightblue 1px solid; FONT-FAMILY: Tahoma; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.AppFormTable1Big TD {
	BORDER-RIGHT: lightblue 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: lightblue 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: lightblue 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: lightblue 0px solid
}
.AppFormTable1Big TH {
	BORDER-RIGHT: lightblue 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: lightblue 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: bold 12px solid Tahoma; BORDER-LEFT: lightblue 1px solid; COLOR: #13075d; PADDING-TOP: 4px; BORDER-BOTTOM: lightblue 0px solid; BACKGROUND-COLOR: #ef96b2
}
.AppFormTable1Big .head {
	BORDER-RIGHT: lightblue 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: lightblue 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: bold 15px solid Tahoma; BORDER-LEFT: lightblue 1px solid; COLOR: #13075d; PADDING-TOP: 4px; BORDER-BOTTOM: lightblue 0px solid; BACKGROUND-COLOR: #cfad80; TEXT-ALIGN: center
}
.AClass {
	FONT: 13px solid Tahoma; COLOR: #13075d
}
#WHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 2px 2px 0px 4px; WIDTH: 99%; PADDING-TOP: 0px
}
#WHeader .b1 {
	DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
#WHeader .b2 {
	DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
#WHeader .b3 {
	DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
#WHeader .b4 {
	DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
#WHeader .b2 {
	BORDER-RIGHT: #a84566 1px solid; BORDER-TOP: #a84566 0px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#a84566', startColorstr='#a84566', gradientType='1'); BORDER-LEFT: #a84566 1px solid; BORDER-BOTTOM: #a84566 0px solid
}
#WHeader .b3 {
	BORDER-RIGHT: #a84566 1px solid; BORDER-TOP: #a84566 0px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#a84566', startColorstr='#a84566', gradientType='1'); BORDER-LEFT: #a84566 1px solid; BORDER-BOTTOM: #a84566 0px solid
}
#WHeader .b4 {
	BORDER-RIGHT: #a84566 1px solid; BORDER-TOP: #a84566 0px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#a84566', startColorstr='#a84566', gradientType='1'); BORDER-LEFT: #a84566 1px solid; BORDER-BOTTOM: #a84566 0px solid
}
#WHeader .b2 {
	BACKGROUND: #cf0142
}
#WHeader .b3 {
	BACKGROUND: #cf0142
}
#WHeader .b4 {
	BACKGROUND: #cf0142
}
#WHeader .b1 {
	BACKGROUND: #914f35; MARGIN: 0px 5px
}
#WHeader .b2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 3px; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 2px
}
#WHeader .b3 {
	MARGIN: 0px 2px
}
#WHeader .b4 {
	MARGIN: 0px 1px; HEIGHT: 2px
}
#WHeader .ContentBox {
	BORDER-RIGHT: #cf0142 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #cf0142 0px solid; DISPLAY: block; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #a84566; FILTER: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#a84566', startColorstr='#a84566', gradientType='1'); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #cf0142 1px solid; COLOR: white; PADDING-TOP: 0px; BORDER-BOTTOM: #cf0142 0px solid; FONT-FAMILY: verdana; HEIGHT: 12px
}
#WHeader .ContentBox .UserName {
	COLOR: white
}
#WHeader .ContentBox .RightCell {
	RIGHT: 18px; POSITION: absolute
}
#WHeader .ContentBox .RightCell A {
	COLOR: white; TEXT-DECORATION: none
}
