HTML {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
BODY {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
DIV {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
SPAN {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
APPLET {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
OBJECT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
IFRAME {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
H1 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
H2 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
H3 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
H4 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
H5 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
H6 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
P {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
BLOCKQUOTE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
PRE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
A {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
abbr {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
ACRONYM {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
ADDRESS {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
BIG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
CITE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
CODE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
DEL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
DFN {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
EM {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
FONT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
INS {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
KBD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
Q {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
S {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
SAMP {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
HR {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
SMALL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
STRIKE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
STRONG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
SUB {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
SUP {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
TT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
VAR {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
B {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
U {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
I {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
CENTER {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
DL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
DT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
DD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
OL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
UL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
LI {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
FIELDSET {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
FORM {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
LABEL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
LEGEND {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
TABLE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
CAPTION {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
TBODY {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
TFOOT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
THEAD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
TR {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
TH {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; outline: 0
}
BODY {
	LINE-HEIGHT: 1
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
BLOCKQUOTE {
	quotes: none
}
Q {
	quotes: none
}
BLOCKQUOTE:unknown {
	content: none
}
BLOCKQUOTE:unknown {
	content: none
}
Q:unknown {
	content: none
}
Q:unknown {
	content: none
}
:unknown {
	outline: 0
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
HTML BODY  SPAN.clear {
	CLEAR: both; BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; LIST-STYLE-TYPE: none; HEIGHT: 0px
}
HTML BODY  DIV.clear {
	CLEAR: both; BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; LIST-STYLE-TYPE: none; HEIGHT: 0px
}
HTML BODY  LI.clear {
	CLEAR: both; BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; LIST-STYLE-TYPE: none; HEIGHT: 0px
}
HTML BODY  DD.clear {
	CLEAR: both; BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; LIST-STYLE-TYPE: none; HEIGHT: 0px
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: '.'
}
.clearfix {
	DISPLAY: inline-block
}
 HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}
BODY.contentpane {
	BACKGROUND: #fff
}
A.simply {
	CURSOR: default; COLOR: #5c635c; TEXT-DECORATION: none
}
A.simply:visited {
	CURSOR: default; COLOR: #5c635c; TEXT-DECORATION: none
}
A.simply:hover {
	CURSOR: default; COLOR: #5c635c; TEXT-DECORATION: none
}
BODY {
	FONT-SIZE: 100%; LINE-HEIGHT: 150%; LETTER-SPACING: 0px
}
HTML {
	FONT-SIZE: 100%; LINE-HEIGHT: 150%; LETTER-SPACING: 0px
}
TD.maincol {
	FONT-SIZE: 1.16em; LINE-HEIGHT: 150%
}
TABLE.candtype1 {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; WIDTH: 70%; BORDER-BOTTOM: gray 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.candtype2 {
	BORDER-LEFT-COLOR: gray; BORDER-BOTTOM-COLOR: gray; WIDTH: 100%; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: gray; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-COLLAPSE: collapse; BORDER-RIGHT-COLOR: gray; BORDER-BOTTOM-STYLE: solid
}
TABLE.candtype {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; FONT-SIZE: 12px; BORDER-LEFT: gray 1px solid; WIDTH: 99%; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: "Tahoma","sans-serif"; BORDER-COLLAPSE: collapse
}
TH.candtype {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; FONT-SIZE: 12px; BORDER-LEFT: gray 1px solid; WIDTH: 95%; COLOR: #2f3c51; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: gainsboro
}
TD.candtype {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; FONT-SIZE: 12px; BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: Verdana
}
DIV.candtype {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; FONT-SIZE: 12px; BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: Verdana
}
OL.candtype {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; FONT-SIZE: 12px; BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: Verdana
}
LI.candtype {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; FONT-SIZE: 12px; BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: Verdana
}
TD.leftcol {
	FONT-SIZE: 1em
}
TD.rightcol {
	FONT-SIZE: 1em
}
TD.leftcol P {
	MARGIN: 0px
}
TD.rightcol P {
	MARGIN: 0px
}
.componentheading {
	MARGIN: 0px 0px 10px 4px
}
TABLE.blog TABLE.contentpaneopen TD.contentheading {
	WIDTH: 100%
}
TD.contentheading {
	WIDTH: 100%
}
H1 {
	MARGIN: 0.75em 0px
}
H2 {
	MARGIN: 0.75em 0px
}
H3 {
	MARGIN: 0.75em 0px
}
H4 {
	MARGIN: 0.75em 0px
}
H5 {
	MARGIN: 0.75em 0px
}
H6 {
	MARGIN: 0.75em 0px
}
UL.latestnews {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.latestnewsS1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.latestnewsS2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.latestnewsS3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.latestnewsbdr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.mostread {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.mostreadS3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.mostreadS1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.mostreadS2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.mostreadbdr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI.latestnews {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BACKGROUND: url(../images/bullet.gif) no-repeat 0em 0.35em; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px
}
LI.latestnewsS1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BACKGROUND: url(../images/bullet.gif) no-repeat 0em 0.35em; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px
}
LI.latestnewsS2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BACKGROUND: url(../images/bullet.gif) no-repeat 0em 0.35em; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px
}
LI.latestnewsS3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BACKGROUND: url(../images/bullet.gif) no-repeat 0em 0.35em; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px
}
LI.latestnewsbdr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BACKGROUND: url(../images/bullet.gif) no-repeat 0em 0.35em; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px
}
LI.mostread {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BACKGROUND: url(../images/bullet.gif) no-repeat 0em 0.35em; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px
}
LI.mostreadS3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BACKGROUND: url(../images/bullet.gif) no-repeat 0em 0.35em; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px
}
LI.mostreadS1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BACKGROUND: url(../images/bullet.gif) no-repeat 0em 0.35em; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px
}
LI.mostreadS2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BACKGROUND: url(../images/bullet.gif) no-repeat 0em 0.35em; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px
}
LI.mostreadbdr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BACKGROUND: url(../images/bullet.gif) no-repeat 0em 0.35em; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px
}
A.readon {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
A.readon:hover {
	TEXT-DECORATION: none
}
A.mainlevel-sidenav {
	
}
UL.menu-sidenav {
	
}
UL.menu-sidenav LI {
	PADDING-LEFT: 14px; BACKGROUND: url(../images/bullet.gif) no-repeat 0px 0.15em
}
A.mainlevel-sidenav {
	PADDING-LEFT: 14px; BACKGROUND: url(../images/bullet.gif) no-repeat 0px 0.15em
}
UL.menu-sidenav LI LI {
	PADDING-LEFT: 0em; BACKGROUND: no-repeat 0px 0.25em; COLOR: #cecece; LIST-STYLE-TYPE: circle
}
UL.menu-sidenav LI UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; PADDING-TOP: 0px
}
A.sublevel-sidenav {
	MARGIN-LEFT: 16px
}
UL.menu-sidenav A {
	TEXT-DECORATION: none
}
A.mainlevel-sidenav {
	TEXT-DECORATION: none
}
A.sublevel-sidenav {
	TEXT-DECORATION: none
}
A.sublevel-sidenav:hover {
	TEXT-DECORATION: underline
}
UL.menu-sidenav A:hover {
	TEXT-DECORATION: underline
}
TD.leftcol A.mainlevel {
	FONT-WEIGHT: bold; LINE-HEIGHT: 135%; TEXT-DECORATION: none
}
TD.rightcol A.mainlevel {
	FONT-WEIGHT: bold; LINE-HEIGHT: 135%; TEXT-DECORATION: none
}
TD.leftcol A.mainlevel:hover {
	TEXT-DECORATION: underline
}
TD.rightcol A.mainlevel:hover {
	TEXT-DECORATION: underline
}
TD.leftcol A.sublevel {
	PADDING-LEFT: 4px; FONT-SIZE: 0.9em; TEXT-DECORATION: underline
}
TD.rightcol A.sublevel {
	PADDING-LEFT: 4px; FONT-SIZE: 0.9em; TEXT-DECORATION: underline
}
TD.leftcol A.sublevel:hover {
	TEXT-DECORATION: none
}
TD.rightcol A.sublevel:hover {
	TEXT-DECORATION: none
}
TD.maincol OL {
	MARGIN-BOTTOM: 5px; MARGIN-LEFT: 40px
}
TD.maincol UL {
	MARGIN-BOTTOM: 5px; MARGIN-LEFT: 40px
}
TD.maincol LI UL {
	MARGIN-BOTTOM: 0px; MARGIN-LEFT: 20px
}
TD.maincol UL LI {
	LIST-STYLE-TYPE: disc
}
TD.maincol UL LI LI {
	LIST-STYLE-TYPE: circle
}
TD.maincol OL {
	LIST-STYLE-TYPE: decimal
}
TD.maincol OL OL {
	LIST-STYLE-TYPE: lower-alpha
}
P {
	MARGIN: 10px 0px
}
PRE {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 10px; PADDING-TOP: 5px; FONT-FAMILY: "Tahoma", Tahoma, monospace; WHITE-SPACE: normal
}
TD.maincol UL.checklist {
	LIST-STYLE-TYPE: none
}
TD.leftcol UL.checklist {
	LIST-STYLE-TYPE: none
}
TD.rightcol UL.checklist {
	LIST-STYLE-TYPE: none
}
TD.maincol UL.checklist LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; LIST-STYLE-POSITION: outside; BACKGROUND: url(../images/tick.png) no-repeat left center; PADDING-BOTTOM: 2px; LINE-HEIGHT: 16px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none
}
TD.leftcol UL.checklist LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; LIST-STYLE-POSITION: outside; BACKGROUND: url(../images/tick.png) no-repeat left center; PADDING-BOTTOM: 2px; LINE-HEIGHT: 16px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none
}
TD.rightcol UL.checklist LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; LIST-STYLE-POSITION: outside; BACKGROUND: url(../images/tick.png) no-repeat left center; PADDING-BOTTOM: 2px; LINE-HEIGHT: 16px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none
}
TD.maincol UL.checklist A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-DECORATION: underline
}
TD.leftcol UL.checklist A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-DECORATION: underline
}
TD.rightcol UL.checklist A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-DECORATION: underline
}
TD.maincol UL.checklist A:hover {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-DECORATION: none
}
TD.maincol UL.checklist A:hover {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-DECORATION: none
}
TD.maincol UL.checklist A:hover {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-DECORATION: none
}
#ww {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND-COLOR: white
}
#wrap {
	PADDING-LEFT: 5px; PADDING-TOP: 3px
}
#header {
	WIDTH: 99%
}
#logo-graphic H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#logo-graphic H1 A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/mca_image.jpg) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 400px; TEXT-INDENT: -8000em; LINE-HEIGHT: 100%; PADDING-TOP: 0px
}
#logo-graphic H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-INDENT: -8000em; LINE-HEIGHT: 0; PADDING-TOP: 0px; HEIGHT: 0px
}
#logo-text H1 A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 100%; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#logo-text {
	FLOAT: left
}
#logo-text H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#logo-text H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#newsflash {
	RIGHT: 15px; OVERFLOW: hidden; WIDTH: 400px; POSITION: absolute; TOP: 10px
}
.menuleft {
	BACKGROUND: url(../images/menuleft.png) no-repeat left top; FLOAT: left; WIDTH: 10px; HEIGHT: 52px
}
.menuright {
	BACKGROUND: url(../images/menuright.png) no-repeat left top; FLOAT: right; WIDTH: 10px; HEIGHT: 52px
}
.mainbody {
	MARGIN: 8px
}
.banner {
	MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; BORDER-BOTTOM: #eee 1px solid
}
TD.leftcol {
	VERTICAL-ALIGN: top
}
TD.maincol {
	VERTICAL-ALIGN: top
}
TD.rightcol {
	VERTICAL-ALIGN: top
}
.inside {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#footer {
	MARGIN: 0px auto; FONT: 0.9em/100% "Tahoma", Tahoma, Tahoma, Tahoma, sans-serif; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 60px; TEXT-ALIGN: center
}
.ftr-left {
	BACKGROUND: url(../images/ftr-left.png) no-repeat left bottom; FLOAT: left; WIDTH: 10px; HEIGHT: 60px
}
.ftr-right {
	BACKGROUND: url(../images/ftr-right.png) no-repeat left bottom; FLOAT: right; WIDTH: 10px; HEIGHT: 60px
}
.designer A {
	MARGIN-TOP: 4px; DISPLAY: block; BACKGROUND: url(../images/jscright.png) no-repeat left top; FLOAT: left; WIDTH: 75px; CURSOR: pointer; TEXT-INDENT: -5000em; HEIGHT: 44px
}
DIV.moduleS1 {
	BACKGROUND: url(../images/topright_light.png) no-repeat 100% 0px; MARGIN-BOTTOM: 10px; HEIGHT: 1%
}
DIV.moduleS1 DIV {
	BACKGROUND: url(../images/topleft_light.png) no-repeat 0px 0px
}
DIV.moduleS1 DIV DIV {
	BACKGROUND: url(../images/botright_light.png) no-repeat 100% 100%
}
DIV.moduleS1 DIV DIV DIV {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(../images/botleft_light.png) no-repeat 0px 100%; PADDING-BOTTOM: 15px; PADDING-TOP: 12px
}
DIV.moduleS1 DIV DIV DIV DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.moduleS1 H3 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN: 0px 0px 10px; BORDER-LEFT: medium none; TEXT-INDENT: 0px; BORDER-BOTTOM: medium none
}
DIV.moduleS2 {
	BACKGROUND: url(../images/topright_mid.png) no-repeat 100% 0px; MARGIN-BOTTOM: 10px; HEIGHT: 1%
}
DIV.moduleS2 DIV {
	BACKGROUND: url(../images/topleft_mid.png) no-repeat 0px 0px
}
DIV.moduleS2 DIV DIV {
	BACKGROUND: url(../images/botright_mid.png) no-repeat 100% 100%
}
DIV.moduleS2 DIV DIV DIV {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(../images/botleft_mid.png) no-repeat 0px 100%; PADDING-BOTTOM: 15px; PADDING-TOP: 12px
}
DIV.moduleS2 DIV DIV DIV DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.moduleS2 H3 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN: 0px 0px 10px; BORDER-LEFT: medium none; TEXT-INDENT: 0px; BORDER-BOTTOM: medium none
}
DIV.moduleS3 {
	BACKGROUND: url(../images/topright_dark.png) no-repeat 100% 0px; MARGIN-BOTTOM: 10px; HEIGHT: 1%
}
DIV.moduleS3 DIV {
	BACKGROUND: url(../images/topleft_dark.png) no-repeat 0px 0px
}
DIV.moduleS3 DIV DIV {
	BACKGROUND: url(../images/botright_dark.png) no-repeat 100% 100%
}
DIV.moduleS3 DIV DIV DIV {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(../images/botleft_dark.png) no-repeat 0px 100%; PADDING-BOTTOM: 15px; PADDING-TOP: 12px
}
DIV.moduleS3 DIV DIV DIV DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.moduleS3 H3 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN: 0px 0px 10px; BORDER-LEFT: medium none; TEXT-INDENT: 0px; BORDER-BOTTOM: medium none
}
DIV.module {
	BACKGROUND: url(../images/topright_bdr.png) no-repeat 100% 0px; MARGIN-BOTTOM: 10px; HEIGHT: 1%
}
DIV.modulebdr {
	BACKGROUND: url(../images/topright_bdr.png) no-repeat 100% 0px; MARGIN-BOTTOM: 10px; HEIGHT: 1%
}
DIV.module DIV {
	BACKGROUND: url(../images/topleft_bdr.png) no-repeat 0px 0px
}
DIV.modulebdr DIV {
	BACKGROUND: url(../images/topleft_bdr.png) no-repeat 0px 0px
}
DIV.module DIV DIV {
	BACKGROUND: url(../images/botright_bdr.png) no-repeat 100% 100%
}
DIV.modulebdr DIV DIV {
	BACKGROUND: url(../images/botright_bdr.png) no-repeat 100% 100%
}
DIV.module DIV DIV DIV {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(../images/botleft_bdr.png) no-repeat 0px 100%; PADDING-BOTTOM: 15px; PADDING-TOP: 12px
}
DIV.modulebdr DIV DIV DIV {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(../images/botleft_bdr.png) no-repeat 0px 100%; PADDING-BOTTOM: 15px; PADDING-TOP: 12px
}
DIV.module DIV DIV DIV DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.modulebdr DIV DIV DIV DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.module H3 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN: 0px 0px 10px; BORDER-LEFT: medium none; TEXT-INDENT: 0px; BORDER-BOTTOM: medium none
}
DIV.modulebdr H3 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN: 0px 0px 10px; BORDER-LEFT: medium none; TEXT-INDENT: 0px; BORDER-BOTTOM: medium none
}
#footer #mainlevel UL {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; CURSOR: default; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#footer #mainlevel LI {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; CURSOR: default; LINE-HEIGHT: 12px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
A.forgotpass {
	DISPLAY: block; PADDING-LEFT: 18px; LINE-HEIGHT: 18px
}
A.forgotuser {
	DISPLAY: block; PADDING-LEFT: 18px; LINE-HEIGHT: 18px
}
A.regusr {
	DISPLAY: block; PADDING-LEFT: 18px; LINE-HEIGHT: 18px
}
A.forgotpass {
	BACKGROUND: url(../images/log_pass.png) no-repeat left center
}
A.forgotuser {
	BACKGROUND: url(../images/log_user.png) no-repeat left center
}
A.regusr {
	BACKGROUND: url(../images/log_reg.png) no-repeat left center
}
TABLE.contentpaneopen TD.buttonheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.blog TABLE.contentpaneopen TD.buttonheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.mosimage {
	MARGIN: 5px
}
.pagenav {
	PADDING-RIGHT: 5px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TABLE.contenttoc {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FLOAT: right; PADDING-BOTTOM: 1px; MARGIN: 5px; PADDING-TOP: 1px
}
TABLE.contenttoc TH {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TABLE.contenttoc TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 0.9em; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-ALIGN: left
}
TABLE.contenttoc A {
	LINE-HEIGHT: 1em; TEXT-DECORATION: none
}
TABLE.contentpaneopen {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
TABLE.blog TABLE.contentpaneopen TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.sectiontableheader {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
TR.sectiontableentry1 TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
TD.sectiontableentry1 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
TR.sectiontableentry2 TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
TD.sectiontableentry2 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
DIV.blog_more {
	BORDER-TOP: #e6e6d4 1px solid
}
DIV.blog_more STRONG {
	POSITION: relative
}
DIV.blog_more UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.blog_more UL LI A {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none
}
DIV.blog_more UL LI A:hover {
	TEXT-DECORATION: none
}
TABLE .AppFormTableNew {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: gray 0px solid; WIDTH: 100%; COLOR: #13075d; PADDING-TOP: 0px; BORDER-BOTTOM: gray 0px solid; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.AppFormTableNew TD {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: gray 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: gray 0px solid
}
.AppFormTableNew TH {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: gray 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: gray 0px solid
}
.AppFormTableNew .head {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: bold 13px solid Verdana; BORDER-LEFT: gray 0px solid; COLOR: #13075d; PADDING-TOP: 4px; BORDER-BOTTOM: gray 0px solid; BACKGROUND-COLOR: #cfad80; TEXT-ALIGN: center
}
.LabelClass {
	FONT-SIZE: 11px; COLOR: #13075d; FONT-FAMILY: Verdana
}
ShowMessage {
	CLEAR: none; DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
.ShowMessage .b2 {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 0px solid; BACKGROUND: #efefff; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 0px solid
}
.ShowMessage .b3 {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 0px solid; BACKGROUND: #efefff; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 0px solid
}
.ShowMessage .b4 {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 0px solid; BACKGROUND: #efefff; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 0px solid
}
.ShowMessage .b1 {
	BACKGROUND: #aaa; MARGIN: 0px 5px
}
.ShowMessage .b2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 3px; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 2px
}
.ShowMessage .b3 {
	MARGIN: 0px 2px
}
.ShowMessage .b4 {
	MARGIN: 0px 1px; HEIGHT: 2px
}
.ShowMessage DIV IMG {
	FLOAT: left; MARGIN: 0px 5px 0px 0px; HEIGHT: 45px
}
.ShowMessage DIV BR {
	CLEAR: none
}
.ShowMessage .b1 {
	CLEAR: none; DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
.ShowMessage .b2 {
	CLEAR: none; DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
.ShowMessage .b3 {
	CLEAR: none; DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
.ShowMessage .b4 {
	CLEAR: none; DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 1px
}
.ShowMessage .b2 {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 0px solid; BACKGROUND: #efefff; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 0px solid
}
.ShowMessage .b3 {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 0px solid; BACKGROUND: #efefff; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 0px solid
}
.ShowMessage .b4 {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 0px solid; BACKGROUND: #efefff; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 0px solid
}
.ShowMessage .b1 {
	BACKGROUND: #aaa; MARGIN: 0px 5px
}
.ShowMessage .b2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 3px; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 2px
}
.ShowMessage .b3 {
	MARGIN: 0px 2px
}
.ShowMessage .b4 {
	MARGIN: 0px 1px; HEIGHT: 2px
}
.ShowMessage DIV IMG {
	FLOAT: left; MARGIN: 0px 5px 0px 0px; HEIGHT: 45px
}
.ShowMessage DIV BR {
	CLEAR: none
}
TABLE .AppFormTable {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: black 0px solid; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: black 0px solid; WIDTH: 100%; COLOR: #13075d; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Tahoma; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.AppFormTable TD {
	BORDER-RIGHT: black 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: black 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: black 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: black 0px solid
}
.AppFormTable TH {
	BORDER-RIGHT: black 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: black 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: black 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: black 0px solid; BACKGROUND-COLOR: #ef96b2
}
.AppFormTable .head {
	BORDER-RIGHT: black 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: black 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: bold 13px solid Verdana; BORDER-LEFT: black 1px solid; COLOR: white; PADDING-TOP: 4px; BORDER-BOTTOM: black 0px solid; BACKGROUND-COLOR: #cf0142; TEXT-ALIGN: center
}
TABLE .cetcen {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: black 0px solid; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: black 0px solid; WIDTH: 100%; COLOR: #13075d; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Tahoma; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.cetcen TD {
	BORDER-RIGHT: black 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: black 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: black 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: black 0px solid
}
.cetcen TH {
	BORDER-RIGHT: black 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: black 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: black 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: black 0px solid; BACKGROUND-COLOR: #ef96b2
}
.cetcen .head {
	BORDER-RIGHT: black 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: black 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: bold 13px solid Verdana; BORDER-LEFT: black 1px solid; COLOR: white; PADDING-TOP: 4px; BORDER-BOTTOM: black 0px solid; BACKGROUND-COLOR: #cf0142; TEXT-ALIGN: center
}
TABLE .AppFormTableNew {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: gray 0px solid; WIDTH: 100%; COLOR: #13075d; PADDING-TOP: 0px; BORDER-BOTTOM: gray 0px solid; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.AppFormTableNew TD {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: gray 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: gray 0px solid
}
.AppFormTableNew TH {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: gray 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: gray 0px solid
}
.AppFormTableNew .head {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: bold 13px solid Verdana; BORDER-LEFT: gray 0px solid; COLOR: #13075d; PADDING-TOP: 4px; BORDER-BOTTOM: gray 0px solid; BACKGROUND-COLOR: #cfad80; TEXT-ALIGN: center
}
