<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Site</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<a href="../../templates.htm"><h1>BACK</h1></a>
<div id="wrapper">
	<div id="header">
		<h1><a href="#">LOGO</a></h1>
	</div>
	<div id="pages">
		<h2>Pages</h2>
		<ul>
			<li class="active"><a id="page1" href="#">HOME</a></li>
			<li><a id="page2" href="#">Product</a></li>
			<li><a id="page3" href="#">My photo</a></li>
			<li><a id="page4" href="#">About Me</a></li>
			<li><a id="page5" href="#">Contact Me</a></li>
		</ul>
	</div>
	<div id="content">
		<div id="posts">
			<div class="post">
				<h2 class="title">FROM FreeCssTemplate.net DESIGN TEAM</h2>
				<h3 class="posted">Posted on January 1th, 2007 by AlexSmith</h3>
				<div class="story">
						  <p>This website template is repeased under a Creative Commons Attribution 2.5 License<br />
			    <br />
			  We request you retain the full copyright notice below including the link to www.freecsstemplate.net.
			  This not only gives respect to the large amount of time given freely by the developers
			  but also helps build interest, traffic and use of our free and paid designs. If you cannot (for good reason) retain the full copyright we request you at least leave in place the
			  Website Templates line, with Website Templates linked to www.freecsstemplate.net. If you refuse to include even this then support may be affected.<br />
  <br />

			  You are allowed to use this design only if you agree to the following conditions:<br />
			  - You cannot remove copyright notice from this design without our permission.<br />
			  - If you modify this design it still should contain copyright because it is based on our work.<br />
			  - You may copy, distribute, modify, etc... this template as long as link to our website remains untouched.<br /></p>
  <br /></div>
				<div class="meta">
					<p>Filed under <a href="#" class="category">Uncategorized</a> | <a href="#" class="comment">1 Comment &raquo;</a></p>
				</div>
			</div>
			<div class="post">
				<h2 class="title">What does Flash Template mean?</h2>
				<h3 class="posted">Posted on January 1st, 2007 by AlexSmith</h3>
				<div class="story">
					<p>Flash Template is a ready-made Flash Site that you can download and use for free! <strong><a href="http://www.freecsstemplate.net">Free Css Templates</a></strong> was created by professional and independent designers for you. You need only to make your adjustments and your flash site is ready. If you open .fla file you can easily change the text information and graphics of the site. There's no need to make animation - our designers already did it. After your text and graphics adjustments you need only to upload .swf file to your server and enjoy your ready Flash Site! Using <a href="http://www.freecsstemplate.net" title="Free Css Templates">Free Css Templates</a> you can save your time </p>
                  <p>and money!</p>
				</div>
				<div class="meta">
					<p>Filed under <a href="#" class="category">Uncategorized</a> | <a href="#" class="comment">1 Comment &raquo;</a></p>
				</div>
			</div>
		</div>
		<div id="search" class="boxed">
			<h2 class="heading">Search</h2>
			<div class="content">
				<form method="get" action="#">
					<div>
						<input type="text" id="textfield1" name="textfield1" value="" size="18" />
						<input type="submit" id="submit1" name="submit1" value="Go" />
					</div>
				</form>
			</div>
		</div>
		<div id="archives" class="boxed">
			<h2 class="heading">Archives</h2>
			<div class="content">
				<ul>
					<li class="first"><a href="#">February 2008</a> (7) </li>
					<li><a href="#">January 2008</a> (31)</li>
					<li><a href="#">December 2007</a> (31)</li>
					<li><a href="#">November 2007</a> (30)</li>
					<li><a href="#">October 2007</a> (31)</li>
					<li><a href="#">September 2007</a> (30)</li>
				</ul>
			</div>
		</div>
		<div id="categories" class="boxed">
			<h2 class="heading"> Partners</h2>
			<div class="content">
				<ul>
					<li class="first"><a href="#">Link</a></li>
					<li><a href="#">Free CSS</a></li>
					<li><a href="#">Intelligent Studios</a></li>
					<li><a href="#">Sporting IQ</a></li>
					<li><a href="#">Webmaster Resources</a></li>
				</ul>
			</div>
		</div>

	</div>
	<div id="footer">
		<p>Site designed by <a href="http://www.freecsstemplate.net">Free Css Templates</a> <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
	</div>
</div>
</body>
</html>
