p.one{font-family:comic sans ms;}

p.two{text-indent:10px;}

h4.one{text-transform:lowercase}

h4.two{background-image:url("D:\Pictures\Tamil & Telgu Movies\Tamnaa\tamanna_05.jpg");text-decoration:underline;color:white;font-size:14pt;}

a:link{color:yellow;}