<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharedObject" publicKeyToken="deeb33795f7d292a" />
        <bindingRedirect oldVersion="1.0.874.42079" newVersion="1.1.875.1044" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>