<configuration>
  <system.runtime.remoting>
    <application name="SimpleServer">
      <service>
        <activated type="SharedObject.SharedObject, SharedObject"/>
      </service>
         <channels>
            <channel ref="http" port="8080" 
                     displayName="HTTP Channel (SimpleServer)" />
            <channel ref="tcp" port="8081" 
               displayName="TCP Channel (SimpleServer)" />
         </channels>
    </application>
  </system.runtime.remoting>
</configuration>
