<configuration>
  <system.runtime.remoting>
    <application name="SimpleServer">
      <service>
        <wellknown mode="Singleton" objectUri="SimpleURI" type="SharedObject.SharedObject, SharedObject"/>
      </service>
         <channels>
            <channel ref="http" port="8080" 
                     displayName="HTTP Channel (SimpleServer)" />
            <channel ref="tcp" port="8081" 
               displayName="TCP Channel (SimpleServer)" />
              <serverProviders>
                <provider ref="wsdl" />
                <provider ref="soap" typeFilterLevel="Full" />
                <provider ref="binary" typeFilterLevel="Full" />
              </serverProviders>
         </channels>
    </application>
  </system.runtime.remoting>
</configuration>
