/*
JavaScript FadeIn SlideShow 1.0
(C)1999-2006 Usingit.com, All rights reserved!
http://www.usingit.com/products/webtoolkit
http://www.usingit.com/support
*/
#FadeInSlideShow1_div{
BORDER:#FFFF00 0px none;
}
