
body{background-image:url("D:\Pictures\Tamil & Telgu Movies\Dhaam Dhoom\cf_dhaam_dhoom_stills-3-509x700.jpg");background-repeat:No-repeat;background-position:"center center";background-attachment:scroll;background-color:lightblue;}

h1{text-align:left;}

h2{text-indent:10px;}

table{border:solid;border-bottom-color:blue;border-top-color:blue;border-left-color:yellow;background-color:green;}

