.Blue_NavBarMainItemNormal {
FONT-FAMILY: Arial;
FONT-SIZE: 9px;
FONT-WEIGHT: normal;
FONT-STYLE: normal;
TEXT-DECORATION: none;
COLOR: #000000;
PADDING-TOP: 0px;
PADDING-RIGHT: 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 0px;
MARGIN-TOP: 0px;
MARGIN-RIGHT: 0px;
MARGIN-BOTTOM: 0px;
MARGIN-LEFT: 0px;
WIDTH: 80px;
HEIGHT: 20px;
BORDER-TOP:#DDF0FF 2px outset;
BORDER-RIGHT:#DDF0FF 2px outset;
BORDER-BOTTOM:#DDF0FF 2px outset;
BORDER-LEFT:#DDF0FF 2px outset;
BACKGROUND-COLOR: #DDF0FF;
CURSOR: hand;
}

.Blue_NavBarMainItemHover {
FONT-FAMILY: Arial;
FONT-SIZE: 9px;
FONT-WEIGHT: normal;
FONT-STYLE: normal;
TEXT-DECORATION: none;
COLOR: #000000;
PADDING-TOP: 0px;
PADDING-RIGHT: 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 0px;
MARGIN-TOP: 0px;
MARGIN-RIGHT: 0px;
MARGIN-BOTTOM: 0px;
MARGIN-LEFT: 0px;
WIDTH: 80px;
HEIGHT: 20px;
BORDER-TOP:#F4FBFF 2px outset;
BORDER-RIGHT:#F4FBFF 2px outset;
BORDER-BOTTOM:#F4FBFF 2px outset;
BORDER-LEFT:#F4FBFF 2px outset;
BACKGROUND-COLOR: #F4FBFF;
CURSOR: hand;
}

.Blue_NavBarMainItemActive {
FONT-FAMILY: Arial;
FONT-SIZE: 9px;
FONT-WEIGHT: normal;
FONT-STYLE: normal;
TEXT-DECORATION: none;
COLOR: #000000;
PADDING-TOP: 0px;
PADDING-RIGHT: 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 0px;
MARGIN-TOP: 0px;
MARGIN-RIGHT: 0px;
MARGIN-BOTTOM: 0px;
MARGIN-LEFT: 0px;
WIDTH: 80px;
HEIGHT: 20px;
BORDER-TOP:#F4FBFF 2px inset;
BORDER-RIGHT:#F4FBFF 2px inset;
BORDER-BOTTOM:#F4FBFF 2px inset;
BORDER-LEFT:#F4FBFF 2px inset;
BACKGROUND-COLOR: #F4FBFF;
CURSOR: hand;
}

.Blue_NavBarSubItemNormal {
FONT-FAMILY: Arial;
FONT-SIZE: 9px;
FONT-WEIGHT: normal;
FONT-STYLE: normal;
TEXT-DECORATION: none;
COLOR: #000000;
PADDING-TOP: 0px;
PADDING-RIGHT: 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 0px;
MARGIN-TOP: 0px;
MARGIN-RIGHT: 0px;
MARGIN-BOTTOM: 0px;
MARGIN-LEFT: 0px;
WIDTH: 80px;
HEIGHT: 20px;
BORDER-TOP:#FFFFFF 0px none;
BORDER-RIGHT:#FFFFFF 0px none;
BORDER-BOTTOM:#FFFFFF 0px none;
BORDER-LEFT:#FFFFFF 0px none;
BACKGROUND-COLOR: #DEDEDE;
CURSOR: hand;
}

.Blue_NavBarSubItemHover {
FONT-FAMILY: Arial;
FONT-SIZE: 9px;
FONT-WEIGHT: normal;
FONT-STYLE: normal;
TEXT-DECORATION: none;
COLOR: #FFFFFF;
PADDING-TOP: 0px;
PADDING-RIGHT: 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 0px;
MARGIN-TOP: 0px;
MARGIN-RIGHT: 0px;
MARGIN-BOTTOM: 0px;
MARGIN-LEFT: 0px;
WIDTH: 80px;
HEIGHT: 20px;
BORDER-TOP:#000000 0px none;
BORDER-RIGHT:#000000 0px none;
BORDER-BOTTOM:#000000 0px none;
BORDER-LEFT:#000000 0px none;
BACKGROUND-COLOR: #0000A2;
CURSOR: hand;
}

.Blue_NavBarSubItemActive {
FONT-FAMILY: Arial;
FONT-SIZE: 9px;
FONT-WEIGHT: normal;
FONT-STYLE: normal;
TEXT-DECORATION: none;
COLOR: #FFFFFF;
PADDING-TOP: 0px;
PADDING-RIGHT: 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 0px;
MARGIN-TOP: 0px;
MARGIN-RIGHT: 0px;
MARGIN-BOTTOM: 0px;
MARGIN-LEFT: 0px;
WIDTH: 80px;
HEIGHT: 20px;
BORDER-TOP:#FFFFFF 0px none;
BORDER-RIGHT:#FFFFFF 0px none;
BORDER-BOTTOM:#FFFFFF 0px none;
BORDER-LEFT:#FFFFFF 0px none;
BACKGROUND-COLOR: #4A4AFF;
CURSOR: hand;
}

.Blue_NavBarSubItemSelected {
FONT-FAMILY: Arial;
FONT-SIZE: 9px;
FONT-WEIGHT: normal;
FONT-STYLE: normal;
TEXT-DECORATION: none;
COLOR: #80FF00;
PADDING-TOP: 0px;
PADDING-RIGHT: 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 0px;
MARGIN-TOP: 0px;
MARGIN-RIGHT: 0px;
MARGIN-BOTTOM: 0px;
MARGIN-LEFT: 0px;
WIDTH: 80px;
HEIGHT: 20px;
BORDER-TOP:#FFFFFF 0px none;
BORDER-RIGHT:#FFFFFF 0px none;
BORDER-BOTTOM:#FFFFFF 0px none;
BORDER-LEFT:#FFFFFF 0px none;
BACKGROUND-COLOR: #0000A2;
CURSOR: hand;
}

.Blue_NavBarMainItemOpened {
FONT-FAMILY: Arial;
FONT-SIZE: 9px;
FONT-WEIGHT: normal;
FONT-STYLE: normal;
TEXT-DECORATION: none;
COLOR: #000000;
PADDING-TOP: 0px;
PADDING-RIGHT: 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 0px;
MARGIN-TOP: 0px;
MARGIN-RIGHT: 0px;
MARGIN-BOTTOM: 0px;
MARGIN-LEFT: 0px;
WIDTH: 80px;
HEIGHT: 20px;
BORDER-TOP:#F4FBFF 2px inset;
BORDER-RIGHT:#F4FBFF 2px inset;
BORDER-BOTTOM:#F4FBFF 2px inset;
BORDER-LEFT:#F4FBFF 2px inset;
BACKGROUND-COLOR: #F4FBFF;
CURSOR: hand;
}

.Blue_NavBarPlaceHolder {
PADDING-TOP: 0px;
PADDING-RIGHT: 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 0px;
WIDTH: 200px;
HEIGHT: 150px;
CURSOR: pointer;
BACKGROUND-COLOR: FFFFFF;
}
.Blue_NavBarSubGroup{
BACKGROUND-COLOR: FFFFFF;
CURSOR: pointer;
}
