
@media Aural    
{
H1 {
	voice-family: paul, male; stress: 20; richness: 90
}
H2 {
	voice-family: paul, male; stress: 20; richness: 90
}
H3 {
	voice-family: paul, male; stress: 20; richness: 90
}
H4 {
	voice-family: paul, male; stress: 20; richness: 90
}
H5 {
	voice-family: paul, male; stress: 20; richness: 90
}
H6 {
	voice-family: paul, male; stress: 20; richness: 90
}
H1 {
	pitch: x-low; pitch-range: 90
}
H2 {
	pitch: x-low; pitch-range: 80
}
H3 {
	pitch: low; pitch-range: 70
}
H4 {
	pitch: medium; pitch-range: 60
}
H5 {
	pitch: medium; pitch-range: 50
}
H6 {
	pitch: medium; pitch-range: 40
}
LI {
	richness: 60; pitch: medium
}
DT {
	richness: 60; pitch: medium
}
DD {
	richness: 60; pitch: medium
}
DT {
	stress: 80
}
PRE {
	stress: 0; richness: 80; pitch: medium; pitch-range: 0
}
CODE {
	stress: 0; richness: 80; pitch: medium; pitch-range: 0
}
TT {
	stress: 0; richness: 80; pitch: medium; pitch-range: 0
}
EM {
	stress: 60; richness: 50; pitch: medium; pitch-range: 60
}
STRONG {
	stress: 90; richness: 90; pitch: medium; pitch-range: 60
}
DFN {
	stress: 60; pitch: high; pitch-range: 60
}
S {
	richness: 0
}
STRIKE {
	richness: 0
}
I {
	stress: 60; richness: 50; pitch: medium; pitch-range: 60
}
B {
	stress: 90; richness: 90; pitch: medium; pitch-range: 60
}
U {
	richness: 0
}
:link {
	voice-family: harry, male
}
:visited {
	voice-family: betty, female
}
:active {
	voice-family: betty, female; pitch: x-high; pitch-range: 80
}
    }
A.external {
	PADDING-RIGHT: 20px; BACKGROUND-POSITION: right center; DISPLAY: inline; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(images/external-link.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
P.quote {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN-LEFT: 2em; PADDING-TOP: 0.5em; FONT-FAMILY: monospace; BACKGROUND-COLOR: #f0f0f0
}
#top {
	BACKGROUND-COLOR: #294563
}
#top .header .current {
	BACKGROUND-COLOR: #4a6d8c
}
#top .header .current A:link {
	COLOR: #0f3660
}
#top .header .current A:visited {
	COLOR: #0f3660
}
#top .header .current A:hover {
	COLOR: #000066
}
#tabs LI {
	BACKGROUND-COLOR: #b5c7e7
}
#tabs LI A:link {
	COLOR: #0f3660
}
#tabs LI A:visited {
	COLOR: #0f3660
}
#tabs LI A:hover {
	COLOR: #000066
}
#level2tabs {
	BACKGROUND-COLOR: #4a6d8c
}
#level2tabs A:link {
	COLOR: #0f3660
}
#level2tabs A:visited {
	COLOR: #0f3660
}
#level2tabs A:hover {
	COLOR: #000066
}
.heading {
	BACKGROUND-COLOR: #294563
}
.boxed {
	BACKGROUND-COLOR: #4a6d8c
}
.underlined_5 {
	BORDER-BOTTOM: #4a6d8c 5px solid
}
.underlined_10 {
	BORDER-BOTTOM: #4a6d8c 10px solid
}
TABLE CAPTION {
	COLOR: #000000; BACKGROUND-COLOR: #4a6d8c
}
#publishedStrip {
	BACKGROUND: #cedfef; COLOR: #0f3660
}
#menu .menupagetitle {
	BACKGROUND-COLOR: #4a6d8c
}
#menu {
	BORDER-LEFT-COLOR: #294563; BORDER-BOTTOM-COLOR: #294563; BORDER-TOP-COLOR: #294563; BORDER-RIGHT-COLOR: #294563
}
#menu .menupagetitle {
	BORDER-LEFT-COLOR: #294563; BORDER-BOTTOM-COLOR: #294563; BORDER-TOP-COLOR: #294563; BORDER-RIGHT-COLOR: #294563
}
#menu .menupageitemgroup {
	BORDER-LEFT-COLOR: #294563; BORDER-BOTTOM-COLOR: #294563; BORDER-TOP-COLOR: #294563; BORDER-RIGHT-COLOR: #294563
}
#menu {
	BACKGROUND-COLOR: #4a6d8c
}
#menu {
	COLOR: #cedfef
}
#menu A:link {
	COLOR: #ffffff
}
#menu A:visited {
	COLOR: #ffffff
}
#menu A:hover {
	COLOR: #ffcf00; BACKGROUND-COLOR: #4a6d8c
}
#menu .menupagetitle {
	COLOR: #000000
}
#menu .menupageitemgroup {
	BACKGROUND-COLOR: #4a6d8c
}
#menu .menupageitem {
	COLOR: #000000
}
#menu .menupageitem A:link {
	COLOR: #0000ff
}
#menu .menupageitem A:visited {
	COLOR: #0000ff
}
#menu .menupageitem A:hover {
	COLOR: #0000ff; BACKGROUND-COLOR: #4a6d8c
}
BODY {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: #0f3660
}
A:visited {
	COLOR: #009999
}
A:hover {
	COLOR: #000066
}
.ForrestTable {
	BACKGROUND-COLOR: #7099c5
}
.ForrestTable TD {
	BACKGROUND-COLOR: #f0f0ff
}
.highlight {
	BACKGROUND-COLOR: #ffff00
}
.fixme {
	BORDER-LEFT-COLOR: #cc6600; BORDER-BOTTOM-COLOR: #cc6600; BORDER-TOP-COLOR: #cc6600; BORDER-RIGHT-COLOR: #cc6600
}
.note {
	BORDER-LEFT-COLOR: #006699; BORDER-BOTTOM-COLOR: #006699; BORDER-TOP-COLOR: #006699; BORDER-RIGHT-COLOR: #006699
}
.warning {
	BORDER-LEFT-COLOR: #990000; BORDER-BOTTOM-COLOR: #990000; BORDER-TOP-COLOR: #990000; BORDER-RIGHT-COLOR: #990000
}
.code {
	BORDER-LEFT-COLOR: #cfdced; BORDER-BOTTOM-COLOR: #cfdced; BORDER-TOP-COLOR: #cfdced; BORDER-RIGHT-COLOR: #cfdced
}
#footer {
	BACKGROUND-COLOR: #cedfef
}
#feedback {
	BACKGROUND: #4c6c8f; COLOR: #ffffff; TEXT-ALIGN: center
}
#feedback #feedbackto {
	COLOR: #ffffff
}
#publishedStrip {
	BACKGROUND: #4c6c8f; COLOR: #ffffff
}
#menu H1 {
	COLOR: #000000; BACKGROUND-COLOR: #cfdced
}
#top .searchbox {
	COLOR: #000000; BACKGROUND-COLOR: #e5e4d9
}
