BODY {
	MARGIN: 0px; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 160%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 140%; PADDING-BOTTOM: 0px; MARGIN: 0.9em 0px 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 130%; PADDING-BOTTOM: 0px; MARGIN: 0.8em 0px 0px; PADDING-TOP: 0px
}
.h3 {
	MARGIN: 22px 0px 3px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; MARGIN: 0.7em 0px 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.h4 {
	MARGIN: 18px 0px 0px
}
H4.faq {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; MARGIN: 18px 0px 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 14px 0px 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
TABLE .title {
	BACKGROUND-COLOR: #000000
}
.ForrestTable {
	FONT-SIZE: 100%; WIDTH: 100%; COLOR: #ffffff; BACKGROUND-COLOR: #7099c5; empty-cells: show
}
TABLE CAPTION {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: #000000; TEXT-ALIGN: left
}
.ForrestTable TD {
	COLOR: black; BACKGROUND-COLOR: #f0f0ff
}
.ForrestTable TH {
	TEXT-ALIGN: center
}
#top {
	BACKGROUND: #294563; FLOAT: left; WIDTH: 100%; POSITION: relative
}
#top .breadtrail {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 75%; BACKGROUND: #cfdced; PADDING-BOTTOM: 3px; COLOR: black; PADDING-TOP: 3px; BORDER-BOTTOM: white 1px solid
}
#top .breadtrail A {
	COLOR: black
}
#top .header {
	BACKGROUND: url(images/header_white_line.gif) repeat-x 50% bottom; FLOAT: left; WIDTH: 100%
}
#top .grouplogo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 7px; TEXT-ALIGN: left
}
#top .projectlogo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 33%; PADDING-TOP: 7px; TEXT-ALIGN: right
}
#top .projectlogoA1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 10px; PADDING-TOP: 7px
}
UNKNOWN {
	BOTTOM: 0px
}
#top .searchbox {
	BACKGROUND-POSITION: left top; FONT-SIZE: 70%; RIGHT: 10px; BACKGROUND-IMAGE: url(images/rc-t-l-5-1header-2searchbox-3searchbox.png); COLOR: white; BOTTOM: -1px; BACKGROUND-REPEAT: no-repeat; WHITE-SPACE: nowrap; POSITION: absolute; HEIGHT: 42px; BACKGROUND-COLOR: #000000; TEXT-ALIGN: right
}
#top .searchbox FORM {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
#top .searchbox P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 0px
}
#top .searchbox INPUT {
	FONT-SIZE: 100%
}
#tabs {
	CLEAR: both; PADDING-LEFT: 10px; MARGIN: 0px; LIST-STYLE-TYPE: none
}
#tabs LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: right top; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(images/rc-t-r-5-1header-2tab-unselected-3tab-unselected.png); PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #000000
}
#tabs LI A {
	PADDING-RIGHT: 15px; BACKGROUND-POSITION: left top; DISPLAY: block; PADDING-LEFT: 15px; FLOAT: left; BACKGROUND-IMAGE: url(images/rc-t-l-5-1header-2tab-unselected-3tab-unselected.png); PADDING-BOTTOM: 4px; WIDTH: 0.1em; COLOR: black; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: verdana, arial, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
UNKNOWN {
	WIDTH: auto
}
#tabs A {
	FLOAT: none
}
#top .header .current {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(images/rc-t-r-5-1header-2tab-selected-3tab-selected.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #4c6c8f
}
#top .header .current A {
	BACKGROUND-POSITION: left top; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(images/rc-t-l-5-1header-2tab-selected-3tab-selected.png); PADDING-BOTTOM: 5px; COLOR: white; BACKGROUND-REPEAT: no-repeat
}
#publishedStrip {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 60%; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 3px; BACKGROUND-COLOR: #4c6c8f; TEXT-ALIGN: right
}
#level2tabs {
	FLOAT: left; MARGIN: 0px; POSITION: relative
}
#main {
	CLEAR: both; BACKGROUND: white; POSITION: relative
}
#main .breadtrail {
	CLEAR: both; PADDING-RIGHT: 180px; BORDER-TOP: black 1px solid; PADDING-LEFT: 180px; FONT-SIZE: 75%; Z-INDEX: 10; BACKGROUND: #cfdced; PADDING-BOTTOM: 0px; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; POSITION: relative
}
#roundtop {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(images/rc-t-r-15-1body-2menu-3menu.png); BACKGROUND-REPEAT: no-repeat
}
#roundbottom {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(images/rc-b-r-15-1body-2menu-3menu.png); BACKGROUND-REPEAT: no-repeat
}
IMG.corner {
	DISPLAY: block! important; WIDTH: 15px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 15px; BORDER-BOTTOM-STYLE: none
}
.roundtopsmall {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(images/rc-t-r-5-1header-2searchbox-3searchbox.png); BACKGROUND-REPEAT: no-repeat
}
#roundbottomsmall {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(images/rc-b-r-5-1header-2tab-selected-3tab-selected.png); BACKGROUND-REPEAT: no-repeat
}
IMG.cornersmall {
	DISPLAY: block! important; WIDTH: 5px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 5px; BORDER-BOTTOM-STYLE: none
}
#menu A {
	FONT-WEIGHT: normal
}
#menu A:visited {
	FONT-WEIGHT: normal
}
#menu A:active {
	FONT-WEIGHT: normal
}
#menu A:hover {
	FONT-WEIGHT: normal
}
#menuarea {
	WIDTH: 10em
}
#menu {
	FONT-SIZE: 70%; Z-INDEX: 20; LEFT: 10px; FLOAT: left; WIDTH: 160px; PADDING-TOP: 0px; POSITION: relative; TOP: -18px; BACKGROUND-COLOR: #f90
}
.menutitle {
	PADDING-RIGHT: 12px; BACKGROUND-POSITION: left center; PADDING-LEFT: 12px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(images/chapter.gif); PADDING-BOTTOM: 3px; MARGIN-LEFT: 10px; CURSOR: pointer; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat
}
#menu .menuitemgroup {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 6px 8px; PADDING-TOP: 0px
}
#menu .selectedmenuitemgroup {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 6px 8px; PADDING-TOP: 0px
}
#menu .menuitem {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left center; PADDING-LEFT: 12px; FONT-WEIGHT: normal; BACKGROUND-IMAGE: url(images/page.gif); PADDING-BOTTOM: 2px; MARGIN-LEFT: 10px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
#menu .menupage {
	PADDING-RIGHT: 3px; BACKGROUND-POSITION: left top; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(images/current.gif); PADDING-BOTTOM: 0px; MARGIN: 5px 0px 5px 10px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; FONT-STYLE: normal
}
#menu .menupagetitle {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; MARGIN-RIGHT: 10px; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid; FONT-STYLE: normal
}
#menu .menupageitemgroup {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 4px; BORDER-LEFT: 1px solid; MARGIN-RIGHT: 10px; PADDING-TOP: 3px; BORDER-BOTTOM: 1px solid; FONT-STYLE: normal
}
#menu .menupageitem {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 90%; BORDER-BOTTOM-WIDTH: 0px; FONT-STYLE: normal; BORDER-RIGHT-WIDTH: 0px
}
#menu #credit {
	TEXT-ALIGN: center
}
#content {
	PADDING-RIGHT: 20px; PADDING-LEFT: 180px; PADDING-BOTTOM: 20px; MARGIN: 0px; FONT: 80% Verdana, Helvetica, sans-serif; PADDING-TOP: 20px
}
#content UL {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#content LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#feedback {
	MARGIN-TOP: 5px; BACKGROUND: #cfdced; COLOR: black; TEXT-ALIGN: center
}
#feedback #feedbackto {
	FONT-SIZE: 90%; COLOR: black
}
#footer {
	CLEAR: both; BORDER-TOP: #4c6c8f 1px solid; BACKGROUND: #cfdced; WIDTH: 100%; COLOR: black; POSITION: relative
}
#footer .copyright {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 45%; PADDING-TOP: 5px; POSITION: relative
}
#footer .lastmodified {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 45%; PADDING-TOP: 5px; POSITION: relative; TEXT-ALIGN: right
}
#footer A {
	COLOR: white
}
#footer #logos {
	TEXT-ALIGN: left
}
ACRONYM {
	CURSOR: help
}
.boxed {
	BACKGROUND-COLOR: #a5b6c6
}
.underlined_5 {
	BORDER-BOTTOM: #4c6c8f 5px solid
}
.underlined_10 {
	BORDER-BOTTOM: #4c6c8f 10px solid
}
.trail {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 70%; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: -10px 5px 0px; PADDING-TOP: 0px; POSITION: relative; TEXT-ALIGN: right
}
#minitoc-area {
	BORDER-TOP: #4c6c8f 1px solid; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 15px; MARGIN-RIGHT: 10%; PADDING-TOP: 5px; BORDER-BOTTOM: #4c6c8f 1px solid
}
.minitoc {
	FONT-WEIGHT: normal; LIST-STYLE-IMAGE: url(images/current.gif)
}
LI P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.pdflink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-TOP: 0px; POSITION: relative
}
.pdflink BR {
	MARGIN-TOP: -10px; PADDING-LEFT: 1px
}
.pdflink A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.pdflink IMG {
	DISPLAY: block; WIDTH: 16px; HEIGHT: 16px
}
.xmllink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-TOP: 0px; POSITION: relative
}
.xmllink BR {
	MARGIN-TOP: -10px; PADDING-LEFT: 1px
}
.xmllink A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.xmllink IMG {
	DISPLAY: block; WIDTH: 16px; HEIGHT: 16px
}
.podlink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-TOP: 0px; POSITION: relative
}
.podlink BR {
	MARGIN-TOP: -10px; PADDING-LEFT: 1px
}
.podlink A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.podlink IMG {
	DISPLAY: block; WIDTH: 16px; HEIGHT: 16px
}
.printlink {
	FLOAT: right
}
.printlink BR {
	MARGIN-TOP: -10px; PADDING-LEFT: 1px
}
.printlink A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.printlink IMG {
	DISPLAY: block; WIDTH: 16px; HEIGHT: 16px
}
