Uname
{
	color:Red;
	font-family:copperplate Gothic Light;
	font-size:20pt;
	font:bold;
}
City
{
	color:Green;
	font-family:Nimbus Roman No9 L;
	font-size:15pt;
	font:bold;
}
Rank
{
	color:Blue;
	font-family:Nimbus Roman No9 L;
	font-size:10pt;
	font:bold;
}
