h1.one{background-color:cyan;color:magenta;}
h1.two{font-size:15px;font-family:"Arial Times New Roman";}
body{background-image:url("D:\Programs\Html\css\background_iris.gif");background-attachment:fixed;background-repeat:No-Repeat;}
p{margin-left:20px;margin-right:20px;}
   